<div class="__collectionCase" id="__collectioCase--{{ section.id }}">
    <h3 class="__contentHeading __contentHeading--{{ section.id }}">{{ section.settings.section_heading | escape -}}</h3>
    <div class="__eachCollection">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'collection' -%}
                <div class="__collection">
                    <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                    <h4>{{ block.settings.heading | escape }}</h4>
                    <a href="{%- if block.settings.btn_url != blank -%}{{ block.settings.btn_url }}{%- else -%}#{%- endif -%}">
                        {{ block.settings.btn | escape }}
                    </a>
                </div>
            {%- endcase -%}
        {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "Collections Section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Name",
      "default": "SHOP BY INDUSTRY"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading Text",
          "default": "Home & home office"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button Text",
          "default": "Explore"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Section",
      "blocks": [
        {
          "type": "collection",
          "settings": {
          }
        },
        {
          "type": "collection",
          "settings": {
          }
        },
        {
          "type": "collection",
          "settings": {
          }
        },
        {
          "type": "collection",
          "settings": {
          }
        },
        {
          "type": "collection",
          "settings": {
          }
        },
        {
          "type": "collection",
          "settings": {
          }
        },
        {
          "type": "collection",
          "settings": {
          }
        },
        {
          "type": "collection",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}