{{ 'section-bfj-image-text.css' | asset_url | stylesheet_tag }}

{%- assign ss = section.settings -%}

<div class="__imageTextCase common-display" id="Image-Text--{{ ss.id }}">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'image' -%}
                {%- assign bs = block.settings -%}
                {%- if bs.image != blank -%}
                    {{ bs.image | image_url: width: 'master' | image_tag:
                        class: '__image-textImage',
                        widths: '150, 200, 250, 300, 400, 500',
                        width: section.settings.logo_width,
                        alt: bs.image.alt
                    }}
                {%- else -%}
                    <div class="__imageTextPlaceholder">
                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' -}}
                    </div>
                {%- endif -%}
            {%- when 'content' -%}
                {%- assign bs = block.settings -%}
                <div class="__image-textContent">
                    {%- if bs.heading != blank -%}
                        <h2 class="__contentHeading">{{ bs.heading | escape -}}</h2>
                    {%- endif -%}

                    {%- if bs.paragraph != blank -%}
                        <div class="__contentParagraph">{{ bs.paragraph | escape }}</div>
                    {%- endif -%}
                </div>
        {%- endcase -%}
    {%- endfor -%}
</div>

{% schema %}
{
  "name": "Image Text 2",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "content",
      "name": "content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "HEADLINE GOES HERE"
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet ut mi lobortis aliquet commodo nullam. Orci, laoreet phm ipsum dolor sit amet, aretra.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text 2"
    }
  ]
}
{% endschema %}